extends ../layouts/main.pug

block content
    h2 #{titlePage} 
    table(class= "table table-striped mt-3")
        thead.table-dark
            tr
                th STT
                th Ảnh
                th Tên
                th Giá
                th Số lượng
                th Tổng cộng

        tbody
            - var count = 1
            if(cartInfo.products.length > 0)
                each item in cartInfo.products
                    tr 
                        td #{count++}
                        td 
                            img(src =item.productInfo.image width="40px")
                        td #{item.productInfo.name}
                        td #{item.productInfo.price} VND
                        td #{item.quantity}
                        td #{item.totalPrice} VND
            else
                tr(class="text-center")
                    td(colspan="7") 
                        p Không có sản phẩm nào
    if(cartInfo.products.length > 0)
        div(class= "text-right")
            h4() Tổng đơn hàng: 
                span(class= "text-danger") #{cartInfo.totalPriceProduct} VND
    .row 
        .col-12
            .card.p-4.my-3
                form(action="/checkout/order", method="post")
                    .form-group
                        label(for= "name") Họ và Tên
                        input.form-control(type="text", id="name", name="name" required)
                    .form-group
                        label(for= "email") Email 
                        input.form-control(type="text", id="email", name="email" required)
                    .form-group
                        label(for= "phone") Số điện thoại
                        input.form-control(type="text", id="phone", name="phone" required)
                    .form-group
                        label(for= "address") Địa chỉ
                        input.form-control(type="text", id="address", name="address" required)
                    button.btn.btn-success(type="sumbit" id= "" class= "w-100") Đặt hàng
                    
                            
    script(src="/js/cart.js") 