extends ../layouts/main.pug

block content 
    h2 #{titlePage}
    .row 
        .col-3 
            h4 Sản phẩm
        .col-3 
            h4 Danh mục sản phẩm
        .col-3 
            h4 Tài khoản
    .row 
        .col-3
            table(class= "table ")
                thead(class="thead-light")
                    tr 
                        th Trạng thái 
                        th Số lượng
                tbody 
                    tr 
                        td Tất cả
                        td #{products.productsCount}
                    tr 
                        td Hoạt động
                        td #{products.productsCount_acitve}
                    tr 
                        td Ngừng Hoạt động
                        td #{products.productsCount_inacitve}
        .col-3
            table(class= "table ")
                thead(class="thead-light")
                    tr 
                        th Trạng thái 
                        th Số lượng
                tbody 
                    tr 
                        td Tất cả
                        td #{ProductCategories.productCategorysCount}
                    tr 
                        td Hoạt động
                        td #{ProductCategories.productCategory_active}
                    tr 
                        td Ngừng Hoạt động
                        td #{ProductCategories.productCategory_inactive}
        .col-3
            table(class= "table ")
                thead(class="thead-light")
                    tr 
                        th Trạng thái 
                        th Số lượng
                tbody 
                    tr 
                        td Tất cả
                        td #{users.userCount}
                    tr 
                        td Hoạt động
                        td #{users.user_active}
                    tr 
                        td Ngừng Hoạt động
                        td #{users.user_inactive}
